* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: seagreen;
}

#fun {
    color: rgb(221, 199, 0);
    font-size: 1.5rem;
}

ul li {
    color: rgb(0, 197, 0);
    background-color: rgba(0, 0, 255, 0.356);
}

p {
    color: rgb(0, 197, 0);
    font-size: 1.5rem;
}

body {
    background-color: rgb(15, 15, 31);
}

li#fun {
    font-weight: bold;
    color: rgb(184, 3, 108);
}

a:hover {
    color: rgb(0, 157, 230);
    font-size: 1.5rem;
    padding: 1%;
}

a {
    color: rgb(244, 245, 244);
    margin: 25%;
}

h2 {
    padding: 5%;
    color: black;
    border: 10px solid rgb(1, 41, 126);
    background-color: rgb(0, 138, 23);
    border-radius: 3rem;
    width: 25%;
}

img {
    padding: 10%;
    width: 50%;
    float: center;
}

h3 {
    column-count: 3;
    column-gap: 25%;
    column-rule: 4px solid green;
}