* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: seagreen;
}

#fun {
    color: rgb(221, 199, 0);
    font-size: 1.5rem;
}

ul li {
    color: rgb(0, 197, 0);
}

p {
    color: rgb(0, 197, 0);
    font-size: 1.5rem;
}

body {
    background-color: rgb(15, 15, 31);
}

li#fun {
    font-weight: bold;
    color: rgb(184, 3, 108);
}

a:hover {
    color: rgb(0, 157, 230);
    font-size: 1.5rem;
    padding: 10%;
}

a {
    color: rgb(244, 245, 244);
    margin: 25%;
}

h2 {
    padding: 10%;

}

img {
    padding: 10%;
    width: 50%;

}